@media only screen and (max-width: 1024px){
    header,
    .content-wrapper{
        grid-template-columns: 1fr;
        width: auto;
        grid-gap: 0;
    }

    header h1{
        font-size: 30pt;
    }

    section.navigation{
        grid-row: 2;
        margin-top: 20px;
    }

    section.content{
        grid-column: 1;
        grid-row: 1;
    }
}

@media only screen and (max-width: 750px){
    header h1{
        font-size: 20pt;
    }

    section.content div.logo{
        display: none;
    }

    section.content div.logo a{
        display: none;
    }

    .tag-group-collection{
        grid-template-columns: 1fr;
    }

    section.nass .nass-inner{
        padding: 20px 32px 20px 0;
    }
    section.nass .nass-text{
        padding: 20px 52px 20px 20px;
    }

    section.nass .nass-rating{
        float: right;
        margin-right: -32px;
    }

    section.nass .nass-rating .rating{
        width: 64px;
        height: 64px;
        border-radius: 50%;
        margin-left: -10px;
    }
}