@import url('https://fonts.googleapis.com/css?family=KoHo|Yanone+Kaffeesatz');

/*
green #3fb8af
pink: #FF3D7F
 */

body{
    font-family: 'KoHo', sans-serif;
    font-size: 18pt;
    background: #e1e1e1 url(/resources/img/brain.svg) top -200px left -100px no-repeat;
    background-size: 1000px auto;
    color: #232323;
    box-sizing: border-box;
}

strong{
    font-weight: bold;
}

a{
    color: #FF3D7F;
    text-decoration: none;
}

a:hover{
    font-weight: bold;
}

header{
    display: grid;
    grid-template-columns: 1.75fr;
    grid-gap: 40px;
    text-align: right;
    box-sizing: border-box;
    margin: 0 auto 20px;
    max-width: 1300px;
    padding: 15px 20px 15px;
}
header h1{
    float: right;
    display: inline-block;
    background: rgba(255,255,255,0.8);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 50pt;
    font-weight: bold;
    color: #FF3D7F;
    padding: 15px 20px 0;
}
header h2{
    float: right;
    clear: both;
    display: inline-block;
    background: rgba(255,255,255,0.8);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding: 15px 20px 15px;
    font-size: 30pt;
    font-weight: bold;
}

.content-wrapper{
    sbackground: rgba(255,255,255,0.8);
    margin: 0 auto;
    max-width: 1300px;
    display: grid;
    grid-template-columns: 0.5fr 1.25fr;
    grid-gap: 40px;
    padding: 20px;
    box-sizing: border-box;
}

nav.main{
    grid-column: 1;
    background: rgba(255,255,255,0.9);
    background-size: 64px auto;
    padding: 20px;
    margin: 0 0 40px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
}
nav.main h3{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding: 0 0 15px 0;
    font-size: 30pt;
    font-weight: bold;
    box-sizing: border-box;
}
nav.main ul {
    margin: 5px;
}
nav.main li{
    display: grid;
    grid-template-columns: auto;
}
nav.main a {
    border-left: 10px solid #3fb8af;
    display: block;
    padding: 20px;
    font-size: 16pt;
}
nav.main a:hover{
    border-left: 10px solid #FF3D7F;
}

section.content{
    grid-column: 2;
    box-sizing: border-box;
    line-height: 1.6;
}

section.content div.content-inner{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgba(255,255,255,0.9);
    padding: 40px;
    box-sizing: border-box;
}
section.content div.logo{
    float: left;
    margin: -20px 20px 10px -20px;
}
section.content div.logo a{
    display: block;
    box-sizing: border-box;
    background: url(/resources/img/brain-alt.svg) center center no-repeat;
    background-size: 180px auto;
    width: 180px;
    height: 180px;
    border: 0;
    overflow: hidden;
    text-indent: -9999px;
}

.content{
    font-size: 18pt;
}
.content p{
    margin-bottom: 1em;
}
.content h1{
    font-size: 30pt;
    border-bottom: 1px solid;
    text-transform: uppercase;
    margin-bottom: 1em;
    font-weight: bold;
    color: #FF3D7F;
}
.content h2{
    font-size: 22pt;
    margin-bottom: 1em;
    font-weight: bold;
}
.content h3{
    margin-bottom: 1em;
}
.content .youtube-holder{
    box-sizing: border-box;
    border: 5px solid #fff;
    position: relative;
    padding: 0;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin: 25px 0;
}

.content .soundcloud-holder iframe{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 0 40px;
}

.content .youtube-holder iframe{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content .footnote{
    border-top: 1px solid #e1e1e1;
    padding-top: 15px;
    font-size: 13pt;
}

footer{
    position: fixed;
    display: none;
    bottom: 0;
    padding: 1em;
    background: rgba(255,255,255,0.6);
    width: 100%;
    box-sizing: border-box;
}

@media only screen and (max-width: 1024px){
    header,
    .content-wrapper{
        grid-template-columns: 1fr;
        max-width: 95%;
        grid-gap: 0;
    }

    section.navigation{
        grid-row: 2;
        margin-top: 20px;
    }

    section.content{
        grid-column: 1;
        grid-row: 1;
    }
}
