@import url('https://fonts.googleapis.com/css?family=KoHo|Yanone+Kaffeesatz');

body{
    font-family: 'KoHo', sans-serif;
    font-size: 11pt;
    background: #DAD8A7 url(/resources/img/brain.svg) top -200px left -100px no-repeat;
    background-size: 1000px auto;
    color: #232323;
    box-sizing: border-box;
}

a{
    color: #FF3D7F;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

header{
    display: grid;
    grid-template-columns: 1.5fr 0.25fr;
    grid-gap: 40px;
    text-align: right;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 95%;
    padding: 0 3em 1em;
}

.content-wrapper{
    margin: 0 auto;
    max-width: 95%;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.25fr;
    grid-gap: 40px;
    padding: 0 3em 3em;
    box-sizing: border-box;
}

nav.main{
    grid-column: 1;
    font-size: 1.7em;
    margin-top: 400px;
    border-radius: 0 80px 0 0;
    background: #f7f7ed url(/resources/img/brain.svg) right top no-repeat;
    background-size: 140px auto;
    border: 5px solid #3fb8af;
    overflow: hidden;
}
nav.main h3{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding: 20px 20px 0 20px;
    margin: 0 5px 0 15px;
    font-size: 1.5em;
    font-weight: bold;
    box-sizing: border-box;
}
nav.main ul {
    margin: 5px;
}
nav.main li{
    display: block;
}
nav.main a {
    border-left: 10px solid #f7f7ed;
    display: block;
    padding: 20px;
}
nav.main a:hover{
    border-left: 10px solid #DAD8A7;
    background: rgba(218, 216, 167, 0.3);
}

section.content{
    grid-column: 2;
    box-sizing: border-box;
    line-height: 1.6;
}

section.content div.content-inner{
    border: 5px solid #3fb8af;
    border-radius: 90px 0 0 0;
    background: #f7f7ed;
    padding: 40px;
    box-sizing: border-box;
}
section.content div.logo{
    float: left;
    margin: -40px 20px 10px -40px;
}
section.content div.logo a{
    display: block;
    box-sizing: border-box;
    background: url(/resources/img/brain-alt.svg) center center no-repeat;
    background-size: 180px auto;
    width: 180px;
    height: 180px;
    border: 0;
    overflow: hidden;
    text-indent: -9999px;
}

header h1{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 3.4em;
    font-weight: bold;
    color: #FF3D7F;
    padding: 1em 0 0;
}

header h2{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding: 0 0 1em 0;
    font-size: 2.4em;
    font-weight: bold;
}

.content{
    font-size: 2.4em;
}
.content p{
    margin-bottom: 1em;
}
.content h1{
    border-bottom: 1px solid;
    text-transform: uppercase;
    margin-bottom: 1em;
    font-weight: bold;
    color: #FF3D7F;
}
.content h2{
    margin-bottom: 1em;
    font-weight: bold;
}
.content h3{
    margin-bottom: 1em;
}
.content .youtube-holder{
    box-sizing: border-box;
    border: 5px solid #fff;
    position: relative;
    padding: 0;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin: 25px 0;
}

.content .soundcloud-holder iframe{
    border: 2px solid #3fb8af;
    margin: 0 0 40px;
}

.content .youtube-holder iframe{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer{
    position: fixed;
    display: none;
    bottom: 0;
    padding: 1em;
    background: rgba(255,255,255,0.6);
    width: 100%;
    box-sizing: border-box;
}

@media only screen and (max-width: 1024px){
    header,
    .content-wrapper{
        grid-template-columns: 1fr;
        max-width: 95%;
        grid-gap: 0;
    }

    nav.main{
        grid-row: 2;
        margin-top: 1em;
    }

    section.content{
        grid-column: 1;
        grid-row: 1;
    }
}
